<div class="row">
  <div class="col-8 p-0 shadow-lg bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic info" formGroupName="BasicInfo">
                <div class="form-group row mb-3 mt-3">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent" required>
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>
                <div class="form-group row mb-3 mt-3">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK" [(ngModel)]="propertyView.BHK">
                    <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary mr-2" 
                    [btnRadio]="bhk.toString()" tabindex="0" role="button" name="SellRent">{{bhk}}</label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    Please select BHK
                  </div>
                </div>
                <div class="form-group row mb-3 mt-3">
                  <p>Property type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType" [(ngModel)]="propertyView.PType">
                    <label *ngFor="let ptype of propertiesTypes" class="btn btn-outline-primary mr-2" 
                    [btnRadio]="ptype" tabindex="0" role="button" name="propType">{{ptype}}</label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    Please select property type
                  </div>
                </div>
                <div class="form-group row mb-3 mt-3">
                  <p>Furnishing type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType" [(ngModel)]="propertyView.FType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mr-2" 
                    [btnRadio]="ftype" tabindex="0" role="button" name="SellRent">{{ftype}}</label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    Please select furnishing
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-form-label">in Building/Society/Project</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="Name" 
                     [(ngModel)]="propertyView.Name">
                  </div>
                  <div class="error-block" *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    Please select building, society, project name
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-form-label">City</label>
                  <div class="col-sm-10">
                    <select class="form-control" formControlName="City" [(ngModel)]="propertyView.City">
                      <option value="">--Select City--</option>
                      <option *ngFor="let city of cityList" value={{city.id}}>{{city.name}}</option>
                    </select>
                  </div>
                  <div class="error-block" *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
                </div>
                <div class="form-group row mb-1">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>
    
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="row">
                  <label *ngIf="SellRent.value==1" class="col-form-label">Price (in USD)</label>
                  <label *ngIf="SellRent.value==2" class="col-form-label">Rent (in USD)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  </div>
                  <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please select <span *ngIf="SellRent.value==1; else ShowRent">price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-form-label">Security (in USD)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="Security">
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-form-label">Maintenance (in USD)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="Maintenance">
                  </div>
                </div>
    
                <div class="row">
                  <label class="col-form-label">Built Area (in Sqr Feet)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="BuiltArea" [(ngModel)]="propertyView.BuiltArea">
                  </div>
                  <div class="error-block" *ngIf="BuiltArea.invalid && nextClicked">
                    Please select built area
                  </div>
                </div>
    
                <div class="row">
                  <label class="col-form-label">Carpet Area (in Sqr Feet)</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="CarpetArea">
                  </div>
                </div>
    
                <div class="row mb-1">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(2, PriceInfo.valid)">Next</button>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>
              </tab>
    
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>
    
                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>
    
                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="error-block" *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please select address
                  </div>
                </div>
    
                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>
    
                <div class="row mb-1">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(3, AddressInfo.valid)">Next</button>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(1, AddressInfo.valid)">Back</button>
                </div>
              </tab>
              
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <label>Ready to Move</label><br/>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="RTM">Yes</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabidivndex="0" role="button" name="RTM">No</label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>
    
                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input type="text"
                          placeholder="Datepicker"
                          class="form-control"
                          formControlName="PossessionOn"
                          bsDatepicker
                          [bsConfig]="{isAnimated: true, containerClass:'theme-dark-blue', dateInputFormat:'YYYY-MM-DD'}">
                </div>
    
                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" formControlName="AOP">
                </div>
    
                <div class="form-group col-12">
                  <label>Gated Community</label><br/>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="Gated">Yes</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="Gated">No</label>
                  </div>
                </div>
    
                <div class="form-group col-12">
                  <label>Main Entrance</label><br/>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="Entrance">East</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="Entrance">West</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=3  tabindex="0" role="button" name="Entrance">South</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=4  tabindex="0" role="button" name="Entrance">North</label>
                  </div>
                </div>
    
                <div class="form-group col-12">
                  <p>Description</p>
                  <textarea type="text" class="form-control" formControlName="Description" rows="6"></textarea>
                </div>
    
                <div class="row mb-1 mt-1">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(4, OtherInfo.valid)">Next</button>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>
    
              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>
                <div class="row mb-1">
                  <button button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(3, true)">Back</button>
                </div>
                <div class="row mb-1">
                  <button button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
                <div class="row mb-1">
                  <button button type="reset" class="btn btn-primary btn-block">Cancel</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>    
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your property preview</h3>
    </div>
    <div class="shadow-lg bg-white">
      <app-property-card [property]="propertyView" [hideIcon]="true"></app-property-card>
    </div>
  </div>
</div>

