<div class="card">          
    <div class="card-img-wrapper">   
        <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.jpg">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/house_default.png">
        <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="far fa-edit"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fas fa-phone"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <h2 class="card-text">{{property.Type}}</h2>
        <p class="card-text">{{property.Price}}</p>
    </div>
</div>