<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="shadow-lg rounded">           
                <img class="card-img-top" src="assets/images/house_default.png" alt="Not found img">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Name}}</h1>
                    <h2 class="card-text">{{Property.Type}}</h2>
                    <p class="card-text">{{Property.Price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
